/* 
    Document   : home
    Created on : Oct 4, 2013, 10:20:34 PM
    Author     : NAVID AHEMAD
    Description:
        Purpose of the stylesheet follows.
*/

.ext_div{background-color: #ffffff; width:960px;height:800px;margin-top: 155px;float:left;}
.home_row_div{width:960px;height:250px;float:left;}
.home_img_div{width:500px;height:248px;float:left;}
.home_text
{
    font-family: Calibri;
    font-size: 20px;
    border-radius: 5px;
}
.home_text:hover
{
    border-color: #ee9611;
}
.home_text:active
{
    border-color: #ee9611;
}
.button_img
{
    margin-left: 10px;
    background-color: #ee9611;
    width:90px;
    float:left;
    height:26px;
    color:#000000;
    font-size:17px;
    font-style:normal;
    text-align: center;
    padding-top:5px;
    font-family:Calibri; 
    box-shadow: 4px 4px 5px #000000;
    opacity:0.8;
}
.button_img:hover
{
    cursor: pointer;
    opacity:1;   
    
}
.grid_scroll
{
    overflow: auto;
    height: 500px;
    border: solid 1px orange;
    height: 480px;
    width: 800px;
}

.notification_img
{
     background-color: dodgerblue;
    width:20px;
    
    height:22px;
    color:#000000;
    font-size:17px;
    font-style:normal;
    text-align: center;
    padding-top:5px;
    font-family:Calibri; 
    box-shadow: 0px 5px 3px #000000;
    opacity:0.8;
}
.notification_img:hover
{
    cursor: pointer;
    opacity:1;   
    
}

